[submodule "cosign-installer.git"]
	path = tools/cosign-installer
	url = https://github.com/sigstore/cosign-installer.git
[submodule "cosign.git"]
	path = tools/cosign
	url = https://github.com/sigstore/cosign.git
